[submodule "EDDA"]
	path = EDDA
	url = git@github.com:dangbert/EDDA.git
	branch = master
[submodule "KR/bayesian-network"]
	path = KR/bayesian-network
	url = git@github.com:dangbert/bayesian-network.git
	branch = main
[submodule "MAS"]
	path = MAS
	url = git@github.com:dangbert/MAS.git
	branch = master
[submodule "DMT"]
	path = DMT
	url = git@github.com:dangbert/DM-Assignments.git
	branch = main
[submodule "NLP"]
	path = NLP
	url = git@github.com:dangbert/vu-nlp.git
	branch = main
[submodule "KR/SAT"]
	path = KR/SAT
	url = git@github.com:dangbert/SAT.git
	branch = master
[submodule "EA"]
	path = EA
	url = git@github.com:dkopi/revolve2.git
	branch = master
[submodule "UvA-DiffRec"]
	path = UvA-DiffRec
	url = git@github.com:dangbert/UvA-DiffRec.git
	branch = main
[submodule "DL/uvadlc_practicals"]
	path = DL/uvadlc_practicals
	url = git@github.com:dangbert/uvadlc_practicals.git
	branch = main
[submodule "FoB"]
	path = FoB
	url = git@github.com:dangbert/bioinformatics.git
	branch = master
[submodule "SIR"]
	path = SIR
	url = git@github.com:dangbert/SIR.git
